@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TI Capital Humano</h1>
    <p class="lead">Sistema de Control Escolar</p>
    <p><a href="https://ti-capitalhumano.com/" class="btn btn-primary btn-lg">Saber mas de TICH &raquo;</a></p>
</div>
